@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.extra-div{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content:space-between;
}
.extra-div p{
    /* padding-right: 350px; */
}